* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
  }

#canvas {
      padding-left: 0;
      padding-right: 0;
      margin: auto;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  
      /* border: 2px solid black; */
}

.maze {
    gap: 20px;
    display: flex;
    margin-top: 10px;
}

label {
    margin-left: 20px;
    margin-right: 8px;
}

input {
    background-color: rgb(35, 35, 35);
    border: none;
    /* border: 1px solid rgb(150, 150, 150); */
    border-radius: 4px;
    width: 50px;
    /* font-family: sans-serif; */
    color: rgb(150, 150, 150);
}

button {
    margin-left: 20px;
    background-color: rgb(150, 150, 150);
    border: none;
    outline: none;
}

input:focus {
    outline: 1px solid rgb(150, 150, 150);
}


.content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(./ocean-pollution.png);
    background-size: cover;
    background-position: center;
}

.title h1{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    text-align: center;
    color: #fff;
    font-size: 70px;
}

  .body {
    /*font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    }

    .navbar {
        width: 85%;
        margin: auto;
        padding: 800px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .navbar ul {
        display: flex;
        justify-content: center;
        width: 100%;
    }
      
      .navbar ul li {
        list-style: none;
        display: inline-block;
        position: relative;
        text-align: center;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
      }
      
      /*.navbar ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
      }*/
      
      .navbar ul li::after {
        content: "";
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
      }
      
      .navbar ul li:hover::after {
        width: 100%;
      }

      .creator li a{
        width: 100%;
        background-position: center;
        position: absolute;
        top: 90%;
        transform: translateY(-150%);
        text-align: center;
        color: #fff;
    }

    h3 {
        color : #fff;
        line-height: 35px;
    }

    h1 {
         text-align: center; /* 將整個頁面的文字置中 */
         font-size: 60px;
         color:#719c97;
         line-height: 60px;
     }

     h2 {
         text-align: left; /* 讓標題左對齊 */
         font-size: 30px;
         color: #719c97;
         line-height: 60px;
     }

     /*body {
         text-align: left; /* 讓標題左對齊 
         font-size: 20px;
     }*/

     p {
        color: #fff;
        text-align: center;
        font-size: 35px;
     }

 