* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
  }

#canvas {
      width: 1280px;
      height: 720px;
      padding-left: 0;
      padding-right: 0;
      margin: auto;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      /* border: 2px solid black; */
}

.maze {
    gap: 20px;
    display: flex;
    margin-top: 10px;
}

label {
    margin-left: 20px;
    margin-right: 8px;
}

input {
    background-color: rgb(35, 35, 35);
    border: none;
    /* border: 1px solid rgb(150, 150, 150); */
    border-radius: 4px;
    width: 50px;
    /* font-family: sans-serif; */
    color: rgb(150, 150, 150);
}

button {
    margin-left: 20px;
    background-color: rgb(150, 150, 150);
    border: none;
    outline: none;
}

input:focus {
    outline: 1px solid rgb(150, 150, 150);
}


.content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(./ocean-pollution.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.title h1{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    /*text-align: center;*/
    color: #ffffff;
    font-size: 70px;
}

  .body {
    /*font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    }

    .navbar {
        width: 85%;
        margin: auto;
        padding: 800px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .navbar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px; /* 控制垂直間距 */
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, 0);
        width: auto;
      }

      .navbar ul li {
        position: static; /* 讓 flex 控制位置 */
        width: auto;
        color: #fff;
        text-align: center;
      }

      .highlight-link {
        color: #fff;
        padding: 8px 16px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
      }

    


